services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: volunteerhub
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
      TZ: "Asia/Ho_Chi_Minh"
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
  redis:
    image: redis:latest
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    command: ["redis-server", "--appendonly", "yes"]
volumes:
  db_data:
  redis-data: