services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: volunteerhub
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
      TZ: "Asia/Ho_Chi_Minh"
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data: